<header class="header>
	<div class="logo">
		<span class="logo__txt">耶塔电话营销机器人</span>
	</div>
	<nav class="navbar">
		<a href="index.html">首页</a>
		<a href="product.html">产品</a>
		<a href="">加盟</a>
		<a href="news.html">动态</a>
		<a href="abount.html">关于</a>
	</nav>
	<div class="contact">
		<span class="contact__num">055169101456</span>
		<button class="btn">登录</button>
		<button class="btn primary">免费注册</button>
	</div>
</header>